.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  /* expand however long it needs to */
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  /* shorthand 4 t,r,b,l props */
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  font-family: var(--plus-jakarta-sans);
  color: var(--black-400);
  opacity: 0.8;
  display: flex;
}

.header__logo span {
  color: #fff;
}

.header__menu {
  background-color: var(--color-creamson);
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.254;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  cursor: pointer;
}

.header__menu li:hover {
  opacity: 0.65;
}

.header__menu li img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;
  position: relative;
}

.header__menu-mobile li img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}